<h1><%= @list.name %></h1>
<%= link_to "Lists", lists_path %>

<p><strong>Bookmarks</strong></p>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= bookmark.comment %></li>
    <%= link_to "Delete bookmark",
        bookmark,
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  <% end %>
</ul>
